@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div class="container" style="margin-top: 60px; color:rgba(0,0,0,.6)">
    <p style="color:rgba(0,0,0,.6)">
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
