@{
    ViewBag.Title = "Login Failure";
}

<hgroup class="container" style="margin-top: 60px;">
    <h2 style="color:rgba(0,0,0,.6)">@ViewBag.Title.</h2>
    <h3 style="color:rgba(0,0,0,.6)" class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
