@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
     
    <div class="row">
        <div class="col-2">

        </div>

        <div>
            <div class="card" style="border-radius:0; border: 1px solid darkgray; background-color:#f8f9fa; margin-bottom:60px;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            <!-- Image URL Here-->
                            <img class="rounded-circle d-inline" width="40" height="40" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />
                        </div>
                        <p class="align-self-center text-muted" style="margin:0;"><strong>bokiboki@@gmail.com</strong></p>
                    </div>
                </div>
                <div class="card-body" style="padding:0;">
                    <img class="card-img-top" style="border-radius:0;" src="https://usercontent1.hubstatic.com/8573904_f496.jpg" alt="Card image cap">
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-primary" style="padding-left:20px; padding-right:20px;">Like</button>
                    <button class="btn btn-secondary" style="padding-left:20px; padding-right:20px;">Comment</button>
                    <hr />
                    <ul style="margin:0; list-style:none; padding:0;">
                        <li style="padding:0;"><strong>bokiboki@@gmail.com</strong> This is my newest project!</li>
                    </ul>
                    <hr />
                    <input type="text" class="form-control" style="width:100%; max-width:100%;" placeholder="Add a comment..." />
                </div>
            </div>
        </div>

        <div class="col-1">

        </div>

        <div class="col-3" style="padding: 0">

            <div class="manage-main-info" style="padding: 10px">
                <div class="row">

                    <div class="col-3">

                        <!-- Image URL Here-->
                        <img style="margin-top: 13px" class="rounded-circle d-inline" width="70" height="70" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />

                    </div>

                    <div class="col-9">

                        <!-- Username Here-->
                        <h3 style="margin: 25px 0px 0px 10px">User Name</h3>

                        <!-- Firstname Here-->
                        <p style="margin-left: 11px;" class="d-inline">Example</p>

                        <!-- Surname Here-->
                        <p class="d-inline">Example</p>
                    </div>

                </div>

                <hr />

                <h5>Suggested friends</h5>

                <div class="container" style="padding-bottom: 20px">

                    <!-- List of Friends -->

                        <div class="row">
                            <div class="col-3">

                                <!-- Image URL Here-->
                                <img style="margin-top: 13px" class="rounded-circle d-inline" width="50" height="50" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />

                            </div>

                            <div class="col-9">

                                <!-- Username Here-->
                                <h5 style="margin: 25px 0px 0px 0px">User Name</h5>
                            </div>
                        </div>

                    <!-- End of List of Friends-->

                </div>
            </div>
            

        </div>

        <div class="col-1">

        </div>

    </div>

</div>