@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
     
    <div class="row">

        <div class="col-2">

        </div>

        <div class="col-6" style="padding: 0px 10px 0px 0px">

            <!-- List for News Feed -->

                <div class="manage-main-info" style="padding: 10px">

                    <!-- Image URL Here-->
                    <img class="rounded-circle d-inline-block" width="50px" height="50px" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />

                    <!-- Username Here-->
                    <h5 style="margin: 25px 0px 0px 5px" class="d-inline-block">User Name</h5>

                    <!-- Posted image Here-->
                    <img style="margin-top: 15px" class="img-fluid" src="https://usercontent1.hubstatic.com/8573904_f496.jpg" />

                    <!-- Description about image Here-->
                    <p style="text-indent: 1em; margin-top: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

                    <!-- Date of Posting Here -->
                    <p style="font-size: 1.3em; text-indent: 1em; color: rgba(0, 0, 0, 0.6)">01:03:2015</p>

                    <!-- Input for comment Here -->
                    <input style="text-indent: 1em" class="input-group" placeholder="Write a Comment" />

                </div>

            <!-- End of List for News Feed -->

        </div>

        <div class="col-3" style="padding: 0">

            <div class="manage-main-info" style="padding: 10px">
                <div class="row">

                    <div class="col-3">

                        <!-- Image URL Here-->
                        <img style="margin-top: 13px" class="rounded-circle d-inline" width="70px" height="70px" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />

                    </div>

                    <div class="col-9">

                        <!-- Username Here-->
                        <h3 style="margin: 25px 0px 0px 10px">User Name</h3>

                        <!-- Firstname Here-->
                        <p style="margin-left: 11px;" class="d-inline">Example</p>

                        <!-- Surname Here-->
                        <p class="d-inline">Example</p>
                    </div>

                </div>

                <hr />

                <h5>Suggested friends</h5>

                <div class="container" style="padding-bottom: 20px">

                    <!-- List of Friends -->

                        <div class="row">
                            <div class="col-3">

                                <!-- Image URL Here-->
                                <img style="margin-top: 13px" class="rounded-circle d-inline" width="50px" height="50px" src="https://vignette.wikia.nocookie.net/micronations/images/4/41/No-Avatar-High-Definition.jpg" />

                            </div>

                            <div class="col-9">

                                <!-- Username Here-->
                                <h5 style="margin: 25px 0px 0px 0px">User Name</h5>
                            </div>
                        </div>

                    <!-- End of List of Friends-->

                </div>
            </div>
            

        </div>

        <div class="col-1">

        </div>

    </div>

</div>